html,
body {
    background-color: 
    #0a0a0a
    ;
    font-family: 'Open Sans', sans-serif;
}
.title img {
    width: 1200px;
}


.heading{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    background-color: rgb(175, 238, 166);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.subheading{
    font-size: 45px;
    font-family: 'Kaushan Script', cursive;
    background-color: rgb(210, 241, 206);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.text{
    font-size: 25px;
    text-align: justify;
}

.page {
    width: 1200px;
    background-color: #ffffff;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.container-right {
    padding-right: 10px;
    padding-left: 20px;
}

.container-left {
    padding-left: 10px;
    padding-right: 20px;
    
}

.pure-g {
    margin-bottom: 30px;
}

#Donut_Continent_Consumption_vis{
    width: 600px;

}

#Continent_Consumption_vis{
    width: 600px;
}

#CO2_emissions_vis{
    width: 1000px;
}

#Energy_160000_vis {
    width: 1200px;
    padding-left: 10px;

}

#Energy_6000_vis {
    width: 1200px;
    padding-left: 10px;

}
