html,
body {
    background-color: 
    #daf7d0
    ;
    font-family: 'Open Sans', sans-serif;
}

.pure-u-1 img {
    width: 100vw;
}

.page {
    width: 1075px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 35px;
}

.container-right {
    padding-left: 20px;
    padding-right: 30px;
}

.container-left {
    padding-right: 30px;
}

.pure-g {
    margin-bottom: 60px;
}
