html,
body {
    background-color: 
    #093400
    ;
    font-family: 'Open Sans', sans-serif;
}
.title img {
    width: 1200px;
}


.heading{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    background-color: rgb(175, 238, 166);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.subheading{
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.text{
    font-size: 25px;
    text-align: justify;
}

.page {
    width: 1200px;
    background-color: #ffffff;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.container-right {
    padding-right: 10px;
    padding-left: 50x;
}

.container-left {
    padding-left: 10px;
    padding-right: 50px;
    
}



#Donut_Continent_Consumption_vis{
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;

}

#Continent_Consumption_vis{
    width: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

#CO2_emissions_vis{
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#Energy_160000_vis {
    width: 1000px;
    padding-left: 10px;

}

#Energy_6000_vis {
    width: 1000px;
    padding-left: 10px;

}

.green_world img {
    width: 500px;
    height: 500px;
    padding-left: 60px;
}

.subheading2{
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.credits{
    font-size: 10px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-bottom: 30px;

}
